<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987554025123-081lhsmb9g4jknjd7fqnr2974na59bpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987554025123-081lhsmb9g4jknjd7fqnr2974na59bpc</string>
	<key>API_KEY</key>
	<string>AIzaSyCu7_GVjzB_tzJVPnqDny70FsjAws8TrtE</string>
	<key>GCM_SENDER_ID</key>
	<string>987554025123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cdliTabletApp</string>
	<key>PROJECT_ID</key>
	<string>cdlitablet-9d4f5</string>
	<key>STORAGE_BUCKET</key>
	<string>cdlitablet-9d4f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987554025123:ios:3d9110ad7e3138d48cb916</string>
	<key>DATABASE_URL</key>
	<string>https://cdlitablet-9d4f5.firebaseio.com</string>
</dict>
</plist>